<footer>
    <div class="footer-content">
        <div class="footer-brand">
            <img src="white logo.webp" alt="Celebso Logo" class="footer-logo">
            <p>Celebso is revolutionizing the way brands and influencers connect in the digital age. Our platform
                provides a seamless and efficient solution for forging meaningful partnerships that drive results.
            </p>
            <a href="#" class="btn primary-btn">Join Now</a>
        </div>

        <div class="footer-nav">
            <h3>Navigations</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div class="footer-social">
            <h3>Quick Links</h3>
            <div class="social-icons-footer">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>

        <div class="footer-contact">
            <h3>Contact</h3>
            <p>info@celebso.com</p>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2024 Celebso All Rights Reserved.</p>
        <div class="footer-legal">
            <a href="#">Terms of service</a>
            <span>|</span>
            <a href="#">Privacy Policy</a>
        </div>
    </div>
</footer>

<script src="/assets/scripts/script.js"></script>
</body>

</html>